<div id="top">
  <div class="wrap">
    <a href="https://www.nyu.edu/"><img src="{{ 'images/nyulogo.png' | absolute_url }}" width="170" height="50" title="New York University" style="float: left;"></a>

    <div style="float: right;">
      <a href="https://www.facebook.com/Friends-of-the-Margaret-Sanger-Papers-53274104181" title="Facebook"><img src="{{ 'images/facebook.png' | absolute_url }}" width="25" height="50"></a>
      <a href="https://twitter.com/SangerPapers" title="Twitter"><img src="{{ 'images/twitter.png' | absolute_url }}" width="25" height="50"></a>
    </div>
  </div>
</div>
